apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 8191 # The port the service will be available on externally
      targetPort: 80
  type: LoadBalancer